*{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(0, 0%, 95%);
    width: 100%;
    font-family: 'Lexend Deca';
}
main{
    width: 58%;
    margin: auto;
    padding-top: 100px;
    color:  hsl(0, 0%, 95%);
    font-size: 15px;
    font-weight: 400;
    display: flex;
}
.right{
    background-color:  hsl(31, 77%, 52%);
    padding: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.middle{
    background-color:  hsl(184, 100%, 22%);
    padding: 30px;
    border: 1px solid transparent;
}
.left{
    background-color:  hsl(179, 100%, 13%);
    padding: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
button{
    border: 1px solid transparent; 
    border-radius: 20px;
    background-color: hsl(0, 0%, 95%);
    padding: 10px;
    cursor: pointer;
}
.btnright{
    color: hsl(31, 77%, 52%);
}
.btnmiddle{
    color: hsl(184, 100%, 22%);
}
.btnleft{
    color: hsl(179, 100%, 13%);
}
a{
    position: fixed;
    top: 20px;
    right: 250px;
    border: 1px solid transparent; 
    border-radius: 10px;
    background-color: hsl(0, 0%, 95%);
    padding: 10px 30px;
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    color: black;
}